html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 22px 550px 80px 40px;
}

.header {
  color: #1A1A1A;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.header .header_heading {
  margin-right: 12px;
}

.text {
  color: #1A1A1A;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 80%;
  margin-bottom: 40px;
}

.footer .footer_conteiner .footer-text {
  margin-bottom: 16px;
}
.footer .footer_conteiner .footer-links .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_conteiner .footer-links .footer-list .list-item .messange {
  font-family: Museo Sans Cyrl;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border-radius: 12px;
  background: #36BA5F;
  border: 0px;
  color: #FFF;
  padding: 15px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer_conteiner .footer-links .footer-list .list-item .messange img {
  margin-right: 8px;
}
.footer .footer_conteiner .footer-links .footer-list .list-item .icon {
  width: 48px;
  height: 48px;
  padding: 16px;
  border-radius: 12px;
  border: 0px;
  background: #F9F9F9;
  margin: 0px 8px;
}