$--gray-0-white: #fff;
$--gray-900-black: #1a1a1a;
$--gray-500: #949494;
$--sky-colors: #93BBEA;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2 {
  text-align: center;
  margin: 80px 0px 32px;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

body {
  color: $--gray-900-black;
  font-family: 'Museo Sans Cyrl';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 40px;
}
.header {
  background: url(./img/suport/right.svg) no-repeat $--sky-colors;
  background-position: right;
  background-position-y: bottom;
  border-radius: 40px;
  .header_text {
    display: flex;
    font-size: 60px;
    justify-content: space-between;
    color: $--gray-0-white;
    .header-left {
      display: flex;
      align-items: center;
    }
    .header-right {
      display: flex;
      align-items: self-end;
    }
    .header-center{
      width: 100%;
      margin: 40px 0px 54px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .header_text-heading {
        line-height: 120%;
        width: 100%;
        text-align: center;
      }
      .header_text-discription {
        text-align: center;
        font-size: 17px;
        width: 100%;
        line-height: 140%;
        margin-bottom: 40px;
      }
      .header_text-link {
        width: 100%;
        .header_text-link-list {
          display: flex;
          justify-content: space-between;
          .header_text-link-list-item {
            display: flex;
            align-items: center;
            .button_link {
              display: flex;
              align-items: center;
              .link-icon {
                margin-right: 8px;
              }
            }
            .button {
              display: flex;
              justify-content: center;
              padding: 15px auto;
              width: 160px;
              height: 48px;
              border-radius: 12px;
              border: 0px;
              background: $--gray-0-white;
            }
          }
        }
      }
    }
  }
}
.social {
  margin: 82px auto 80px;
  align-items: center;
  justify-content: space-between;
  padding: 42px 40px;
  max-width: 996px;
  display: flex;
  border-radius: 40px;
  background: $--gray-0-white;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
  .social_left {
    p {
      font-size: 15px;
      line-height: 120%;
      margin-bottom: 16px;
    }
  }
  .social_right-list {
    display: flex;
    .social_right-list-item {
      margin-right: 14px;
    }
    .social_right-list-item:last-child {
      margin-right: 0;
    }
  }
}
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slider {
  position: relative;
  .slider_item {
    .slider_item-card{
      margin-right: 24px;
      display: flex;
      width: 280px;
      height: 160px;
      border-radius: 16px;
      background: $--gray-0-white;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
      padding: 16px;
      .slider_item-card_headind {
        width: 250px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }
      .slider_item-card_headind_odd {
        width: 50%;
      }
      .slider_item-card_discription {
        color: $--gray-500;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
      }
      .slider_item-card_discription {
        width: 50%;
      }
    }
    .slider_item-card_odd {
      background-image: url(./img/faq.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -22px 0px 0px;
    z-index: 10;
    font-size: 0;
  }
  .slick-next {
    width: 44px;
    height: 44px;
    right: 0;
    background: url(./img/big.svg) 0 0 / 100% no-repeat;
    border: 0px;
  }
  .slick-prev {
    display: none;
  }
}
.help {
  #accordion {
    h3 {
      margin-bottom: 12px;
      position: relative;
      display: flex;
      height: 64px;
      padding: 20px 16px 20px 24px;
      align-items: center;
      justify-content: space-between;
      border-radius: 16px;
      background: var(--gray-0-white, #FFF);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
      .heading {
        position: absolute;
        display: flex;
        flex-direction: column;
        p {
          width: 492px;
          color: $--gray-500;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
    div {
      margin-bottom: 12px;
      padding-left: 24px; 
    }
  }
}